{% extends 'base.html.twig' %}

{% block title %}Hello DevisController!{% endblock %}

{% block body %}

{% block content %}
<div class="devis">
     {% set prix = maHaie.getPrix() * longueur %}
  

    {% if hauteur > 1.50 %} 
        {% set prix = prix * 1.50 %} 
    {% endif %}

<p>Vous êtes {% if choix == 2 %} {% set remise = 0.10 %} 
    une Entreprise (Vous bénéficiez d'une remise de 10%). 
    {% else %} un Particulier. {% endif %}</p>
<p>Rappel -- Mesures de la haie : Longueur {{ longueur }}m Hauteur {{ hauteur }}m</p>

{% if choix == 2 %}<p>Vous disposez d'un remise de {% set remise = prix * remise %} {{ remise }}€ {% set prix = prix - remise %} </p>{% endif %}

<p>Le montant de votre devis serra de : {{ prix }}€</p>
<a href="{{ ('accueil') }}" class="btn btn-primary">Accueil</a>
{% if is_granted('ROLE_USER') %}
<a href="{{ path('app_client_devis_creation') }}" class="btn btn-success">Passer la commande</a>
{% else %}
<br><br>
<a href="{{ path('app_register') }}" class="btn btn-success">Inscrivez vous pour commander</a>
{% endif %}
</div>
{% endblock %}
{% endblock %}