{% extends 'base.html.twig' %}

{% block title %}Haie index{% endblock %}

{% block body %}
{% block content %}
    <h1>Haie</h1>
    <div class="taille-tableau">
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Catégorie</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for haie in haies %}
            <tr>
                <td class="bg-success">{{ haie.code }}</td>
                <td class="bg-success">{{ haie.nom }}</td>
                <td class="bg-success">{{ haie.prix }}</td>
                <td class="bg-success">{{ haie.categorie.libelle }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td class="bg-success">
                    <a href="{{ path('app_haie_show', {'code': haie.code}) }}" class="btn btn-primary">Consulter</a>
                    <a href="{{ path('app_haie_edit', {'code': haie.code}) }}" class="btn btn-danger">Modifier</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_haie_new') }}" class="btn btn-primary">Créer une haie</a>
    {% endif %}
{% endblock %}
{% endblock %}